@import 'utils';
@import 'fonts';
@import 'typography';

body {
  display: flex;

  height: 100vh;
  justify-content: center;
  margin: 0;

  -ms-flex-align: center;

  -ms-flex-pack: center;
}

.wall {
  background-color: #f9b47d;
  border: #e1e1e1 solid 10px;
  background-image: url(../images/brick-wall.svg);

  width: 400px;
  cursor: pointer;
  height: 400px;

  position: relative;
}

.spider {
  position: absolute;
  top: 0;
  left: 0;

  width: 50px;
  height: 50px;

  transition: 1s;
}
